@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans text-slate-900 antialiased;
  }
}

.hero-gradient {
  background: linear-gradient(to bottom, rgba(0, 91, 138, 0.7), rgba(15, 28, 35, 0.9));
}
